body {
  background: -webkit-gradient(linear, left top, left bottom, from(#003B46), to(white));
  background: -webkit-linear-gradient(#003B46, white);
  background: -o-linear-gradient(#003B46, white);
  background: linear-gradient(#003B46, white);
  background-repeat: no-repeat;
  background-attachment: fixed; }

.wrapper {
  width: 400px;
  height: 300px;
  border: 6px solid #66A5AD;
  border-radius: 20px;
  background-color: #C4DFE6;
  position: fixed;
  top: 30%;
  left: 35%; }

.header {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#66A5AD), to(white));
  background: -webkit-linear-gradient(#66A5AD, white);
  background: -o-linear-gradient(#66A5AD, white);
  background: linear-gradient(#66A5AD, white);
  height: 35px;
  width: 100%;
  border-radius: 8px;
  border-bottom: dashed 2px #003B46; }

span {
  font-size: 2rem; }
