// Variables

$dark : #003B46;
$light : #C4DFE6;
$primary : #66A5AD;

body{
    background: linear-gradient($dark,white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.wrapper{
    width: 400px;
    height: 300px;
    border: 6px solid $primary;
    border-radius: 1rem;
    background-color: $light;
    position: fixed;
    top: 30%;
    left: 35%;
}