// Variables

$dark : #003B46;
$light : #C4DFE6;
$primary : #66A5AD;

body{
    background: linear-gradient($dark,white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.wrapper{
    width: 400px;
    height: 300px;
    border: 6px solid $primary;
    border-radius: 20px;
    background-color: $light;
    position: fixed;
    top: 30%;
    left: 35%;
}
.header{
    text-align: center;
    background: linear-gradient($primary,white);
    height: 35px;
    width: 100%;
    border-radius: 8px;
    border-bottom: dashed 2px $dark;
}
span{
    font-size: 2rem;
}